---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Header from "../components/Header.astro";
import Filter from "../components/Filter.tsx";
import List from "../components/List.tsx";

import { t } from "i18next";
---

<Layout title={t("title")}>
  <Container>
    <Breadcrumbs items={[["Security", "/security"], ["Compliances"]]} />

    <Header />

    <div class="tw-grid tw-grid-cols-4 tw-gap-8">
      <Filter client:load />

      <div class="tw-col-span-4 md:tw-col-span-3">
        <h2 class="tw-text-2xl">Lorem ipsum</h2>

        <List client:load />
      </div>
    </div>
  </Container>
</Layout>
